Repository pulumi/docs, pull requests merged in 2019-10, with the labels that each got.

#1791 Fix issue (maybe, hopefully) with long descriptions for generated API docs pages
  content/docs/reference/pkg/nodejs/pulumi/packet/_index.md
  content/docs/reference/pkg/nodejs/pulumi/packet/config/_index.md
  content/docs/reference/pkg/nodejs/pulumi/packet/types/_index.md
  content/docs/reference/pkg/nodejs/pulumi/packet/types/input/_index.md
  content/docs/reference/pkg/nodejs/pulumi/packet/types/output/_index.md
  tools/tscdocgen/main.go
  tools/tscdocgen/templates/nodejs.tmpl
Labels: area/docs, docs/api

#1855 minor: typo/grammar fix to architecture.md
  content/docs/guides/k8s-the-prod-way/architecture.md
Labels: docs/guides

#1894 Add docs for self-hosting the Pulumi Service for Enterprise Edition customers
  assets/sass/styles.scss
  content/docs/guides/self-hosted/_index.md
  content/docs/guides/self-hosted/api.md
  content/docs/guides/self-hosted/console.md
  static/images/docs/guides/self-hosted/on-prem-internet-config.png
  static/images/docs/guides/self-hosted/on-prem-intranet-config.png
Labels: area/docs, docs/guides
