Repository pulumi/docs, pull requests merged in 2019-07, with the labels that each got.

#1313 Rephrase AWS CLI requirement for getting started
  content/docs/quickstart/aws/configure.md
Labels: area/docs, content/get-started

#1392 Fixed createLambdaFunction references on Serializing JavaScript Functions doc
  content/docs/reference/serializing-functions.md
Labels: content/reference

#1425 Generate GCP documentation based on pulumi-gcp 0.18.14
  content/docs/reference/pkg/nodejs/pulumi/gcp/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/accesscontextmanager/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/appengine/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/bigquery/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/bigtable/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/billing/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/binaryauthorization/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/cloudbuild/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/cloudfunctions/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/cloudscheduler/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/composer/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/compute/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/config/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/container/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/containeranalysis/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/dataflow/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/dataproc/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/dns/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/endpoints/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/filestore/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/firestore/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/folder/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/healthcare/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/iam/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/iap/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/kms/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/logging/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/monitoring/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/organizations/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/projects/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/pubsub/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/redis/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/resourcemanager/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/runtimeconfig/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/serverless/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/serviceAccount/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/servicenetworking/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/sourcerepo/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/spanner/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/sql/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/storage/_index.md
  content/docs/reference/pkg/nodejs/pulumi/gcp/tpu/_index.md
  content/docs/reference/pkg/python/pulumi/_index.md
Labels: area/docs

#1424 Initial draft of issue and pull request templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: impact/usability

#1443 Generate AzureAD documentation based on v0.5.1 of the Azuread Terraform Provider
  config/_default/menus.toml
  content/docs/reference/pkg/nodejs/pulumi/azuread/_index.md
  content/docs/reference/pkg/nodejs/pulumi/azuread/config/_index.md
  content/docs/reference/pkg/python/pulumi_azuread/_index.md
Labels: docs/providers

#1451 Reorganize side navigation
  content/docs/_index.md
  content/docs/reference/clouds/_index.md
  content/docs/reference/concepts.md
  content/docs/reference/install.md
  layouts/partials/docs/toc.html
Labels: area/site, site/design

#1379 7 Ways to Deal with Application Secrets in Azure
  content/blog/7-ways-to-deal-with-application-secrets-in-azure/feature.jpg
  content/blog/7-ways-to-deal-with-application-secrets-in-azure/index.md
Labels: area/blog

#1390 Add documentation for remote backends for state
  content/docs/reference/state.md
  static/images/docs/reference/state_tokens.png
Labels: docs/intro, docs/service

#1464 Praneetloke/1423 update gitlab
  content/docs/reference/cd-gitlab-ci.md
Labels: docs/reference

#1441 Move "On this Page" feature to right nav
  assets/js/main.js
  assets/sass/_on-this-page.scss
  assets/sass/styles.scss
  content/docs/_index.md
  content/docs/quickstart/_index.md
  content/docs/quickstart/aws/install-language-runtime.md
  content/docs/quickstart/aws/next-steps.md
  content/docs/quickstart/azure/install-language-runtime.md
  content/docs/quickstart/gcp/install-language-runtime.md
  content/docs/quickstart/kubernetes/install-language-runtime.md
  content/docs/reference/_index.md
  content/docs/reference/clouds/kubernetes/faq.md
  content/docs/reference/commands.md
  content/docs/reference/config.md
  content/docs/reference/crosswalk/aws/_index.md
  content/docs/reference/crosswalk/aws/api-gateway.md
  content/docs/reference/crosswalk/aws/autoscaling.md
  content/docs/reference/crosswalk/aws/cloudwatch.md
  content/docs/reference/crosswalk/aws/ecr.md
  content/docs/reference/crosswalk/aws/ecs.md
  content/docs/reference/crosswalk/aws/eks.md
  content/docs/reference/crosswalk/aws/elb.md
  content/docs/reference/crosswalk/aws/iam.md
  content/docs/reference/crosswalk/aws/lambda.md
  content/docs/reference/crosswalk/aws/vpc.md
  content/docs/reference/install.md
  content/docs/reference/pkg/_index.md
  content/docs/reference/programming-model.md
  content/docs/reference/troubleshooting.md
  layouts/_default/section.html
  layouts/docs/aws-list.html
  layouts/docs/aws-single.html
  layouts/docs/list.html
  layouts/docs/single.html
  layouts/partials/docs/right-nav.html
  layouts/shortcodes/mini-toc.html
Labels: area/site, site/design

#1479 Update Pulumi Newsroom with new entries and logos
  data/newsroom.toml
  layouts/page/about.html
  static/logos/press/appdevelopermag.png
  static/logos/press/awsinsider.png
  static/logos/press/betakit.png
  static/logos/press/bizjournals.png
  static/logos/press/businessinsider.png
  static/logos/press/devclass.png
  static/logos/press/devops.png
  static/logos/press/enterprisetech.png
  static/logos/press/eweek.png
  static/logos/press/fortune.png
  static/logos/press/highscalability.png
  static/logos/press/infoq.png
  static/logos/press/itopstimes.png
  static/logos/press/jaxenter.png
  static/logos/press/linuxjournal.png
  static/logos/press/redmonk.png
  static/logos/press/scottlowe.png
  static/logos/press/sdtimes.png
  static/logos/press/sdxcentral.png
  static/logos/press/techtarget.png
  static/logos/press/telecomreseller.png
  static/logos/press/vmblog.png
Labels: area/www
