Repository pulumi/docs, pull requests merged in 2024-11, with the labels that each got.

#13290 Add some link exemptions
  scripts/link-checker/check-links.js
Labels: area/blog, kind/bug, kind/engineering, kind/task

#13284 Fix broken link and a few style nits
  content/docs/pulumi-cloud/admin/organizations.md
Labels: area/docs, kind/bug, kind/documentation

#13300 Upgrade growthbook and dom-mutator dependencies in yarn.lock
  theme/yarn.lock
Labels: area/site, kind/engineering, kind/task

#13288 Fix broken links to ingress-nginx
  content/docs/iac/clouds/kubernetes/guides/app-services.md
Labels: area/docs, kind/bug

#13299 Okta SCIM page updates
  content/docs/pulumi-cloud/access-management/scim/okta.md
Labels: area/docs, docs/service, docs/content

#13291 Mention the `pulumi-stacks` provider in this overview.
  content/docs/esc/integrations/infrastructure/pulumi-iac/_index.md
Labels: area/docs, customer/feedback, impact/accessibility, kind/documentation

#12647 draft of P3: some assembly required post
  content/blog/p3-some-assembly-required/index.md
  content/blog/p3-some-assembly-required/meta.png
  content/blog/p3-some-assembly-required/teams-gh-pulumi.png
Labels: area/blog

#13335 add note style 'tip'
  STYLE-GUIDE.md
  layouts/shortcodes/notes.html
  theme/src/scss/_notes.scss
Labels: area/docs, impact/usability, kind/enhancement, kind/engineering, impact/style

#13334 Add a troubleshooting section to help resolve .NET Framework installation confusion
  content/docs/iac/languages-sdks/dotnet/_index.md
Labels: area/docs, kind/enhancement, kind/documentation

#13332 Add a paragraph to disambiguate between stack outputs and Output<T>
  content/docs/iac/concepts/inputs-outputs/_index.md
Labels: area/docs, kind/enhancement, kind/documentation

#13327 fix some broken links
  content/blog/ai-slackbot-in-real-time-using-s3-sqs-and-pulumi-on-aws-uploading-documents/index.md
  content/blog/p3-some-assembly-required/index.md
  content/blog/upcoming-aws-pulumi-webinar-on-feb-5/index.md
Labels: area/blog, kind/bug

#13328 Update indexing to include H2/H3/H4 keywords.
  scripts/search/page.js
Labels: area/site, kind/enhancement, kind/bug, kind/engineering

#13308 Add CODEOWNERS policy for robots.txt
  .github/CODEOWNERS
Labels: area/site, kind/engineering, grooming-q2y25

#13307 Add Pulumi User Groups to Community page.
  layouts/community/section.html
Labels: area/site, kind/enhancement

#13306 Add "Priority feature requests" to Enterprise plan description
  content/pricing/_index.md
Labels: area/site, kind/enhancement, area/product

#13343 Adds tooltip text to expand/shrink content widget
  layouts/partials/docs/search.html
Labels: impact/usability, area/site, kind/enhancement, kind/engineering, area/search

#13379 Add missing keyword
  content/docs/iac/concepts/stacks.md
Labels: area/docs, kind/bug

#13367 Fix small url issue in REST API docs
  content/docs/pulumi-cloud/reference/cloud-rest-api/_index.md
Labels: impact/no-changelog-required

#13063 blog article for tivity health use case
  content/blog/devsecops-strategy-security-automation-tivity-health/david-tivity-healthy-quote.png
  content/blog/devsecops-strategy-security-automation-tivity-health/index.md
  content/blog/devsecops-strategy-security-automation-tivity-health/meta.png
  content/resources/security-automation-faster-cheaper-better/index.md
Labels: area/blog

#13454 Uv blog suggestions
  content/blog/python-uv-toolchain/index.md
Labels: do-not-merge
