Repository pulumi/docs, pull requests merged in 2024-09, with the labels that each got.

#12511 Add blogpost for tap-pulumi-cloud
  content/blog/import-your-pulumi-cloud-data-with-tap-pulumi-cloud/index.md
  content/blog/import-your-pulumi-cloud-data-with-tap-pulumi-cloud/meta.png
  content/blog/import-your-pulumi-cloud-data-with-tap-pulumi-cloud/schema.png
  data/team/team/lucas-crespo.toml
  static/images/team/lucas-crespo.jpg
Labels: do-not-merge

#12557 Adding an IaC product page
  content/product/infrastructure-as-code.md
  layouts/product/infrastructure-as-code.html
Labels: area/www

#12877 Removing time references to increase PulumiUP 2024 longevity
  content/blog/pulumi-up-2024/index.md
Labels: area/blog

#12605 self-hosted language and typo edits
  content/docs/pulumi-cloud/admin/self-hosted/_index.md
  content/docs/pulumi-cloud/admin/self-hosted/network.md
Labels: area/docs, kind/documentation
