Repository pulumi/docs, pull requests merged in 2024-10, with the labels that each got.

#12996 feat(insights): update docs for resource explorer v2
  content/docs/pulumi-cloud/insights/_index.md
  content/docs/pulumi-cloud/insights/clear-search.png
  content/docs/pulumi-cloud/insights/column-chooser.png
  content/docs/pulumi-cloud/insights/column-filter.png
  content/docs/pulumi-cloud/insights/export.md
  content/docs/pulumi-cloud/insights/favorites-button.png
  content/docs/pulumi-cloud/insights/favorites-left-nav.png
  content/docs/pulumi-cloud/insights/gear-icon-dropdown.png
  content/docs/pulumi-cloud/insights/resource-search-grouping.png
  content/docs/pulumi-cloud/insights/search-filter-helper.png
  content/docs/pulumi-cloud/insights/search-table-v2.png
  content/docs/pulumi-cloud/insights/search.md
Labels: area/docs, docs/cloud-console, impact/no-changelog-required

#13127 Add ignore rule for 404ing link in dbtcloud provider docs
  scripts/link-checker/check-links.js
Labels: area/docs, docs/providers, docs/autogenerated, kind/documentation

#13144 Fix inconsistent tag styling on tag list and author list pages.
  theme/src/scss/main.scss
Labels: area/blog, kind/bug

#13040 Create Blog Post for EKS v3 release
  content/blog/eks-v3-release/index.md
  content/blog/eks-v3-release/meta.png
  static/images/team/florian-stadler.jpg
Labels: do-not-merge

#13191 pin links to now-deleted azure-classic examples to last good commit
  content/blog/2019-year-at-a-glance/index.md
  content/blog/create-aks-clusters-with-monitoring-and-logging-with-pulumi-azure-open-source-sdks/index.md
  content/blog/dynamic-providers/index.md
  content/blog/getting-started-with-k8s-part1/index.md
  content/blog/hosting-a-static-website-on-azure-with-pulumi/index.md
  content/blog/program-kubernetes-with-11-cloud-native-pulumi-pearls/index.md
  content/docs/iac/concepts/resources/dynamic-providers.md
  content/docs/iac/packages-and-automation/continuous-delivery/jenkins.md
Labels: area/docs, area/blog, impact/breaking, kind/task, impact/seo

#13206 Fix broken link to automation API example
  content/blog/automation-api/index.md
Labels: area/blog, kind/bug, impact/regression

#13205 Fix broken link in webhooks docs
  content/docs/pulumi-cloud/webhooks.md
Labels: area/docs, kind/bug, kind/documentation

#13204 Fix incorrect formatting of note due to significant whitespace
  content/docs/pulumi-cloud/access-management/oidc/provider/azure.md
Labels: area/docs, impact/usability, kind/bug, kind/documentation
