Repository pulumi/docs, pull requests merged in 2024-12, with the labels that each got.

#13468 Fix nested quote in note shortcode.
  content/docs/pulumi-cloud/access-management/saml/okta.md
Labels: area/docs

#13467 Add note about tokens and "create stack" permissions.
  content/docs/pulumi-cloud/access-management/access-tokens.md
Labels: area/docs, impact/security, kind/documentation

#13309 Generate CLI docs w/ PULUMI_EXPERIMENTAL flag
  .github/workflows/pulumi-cli.yml
  Makefile
Labels: area/docs, docs/autogenerated, kind/enhancement, kind/documentation, grooming-q2y25

#13426 Mention locking implementation in self-managed backends.
  content/docs/iac/concepts/state-and-backends.md
Labels: area/docs, kind/documentation

#13509 Add Create Resources on Kubernetes Tutorial
  content/tutorials/creating-resources-aws/index.md
  content/tutorials/creating-resources-azure/index.md
  content/tutorials/creating-resources-gcp/index.md
  content/tutorials/creating-resources-kubernetes/index.md
  content/tutorials/creating-resources-kubernetes/meta.png
  content/tutorials/importing-aws-infrastructure/index.md
  content/tutorials/importing-azure-infrastructure/index.md
  content/tutorials/importing-gcp-infrastructure/index.md
  content/tutorials/stack-outputs-refs-aws/index.md
  content/tutorials/stack-outputs-refs-azure/index.md
  content/tutorials/stack-outputs-refs-gcp/index.md
  static/programs/k8s-deployment-service-for-minikube-csharp/Program.cs
  static/programs/k8s-deployment-service-for-minikube-csharp/Pulumi.yaml
  static/programs/k8s-deployment-service-for-minikube-csharp/k8s-deployment-service-for-minikube-csharp.csproj
  static/programs/k8s-deployment-service-for-minikube-go/Pulumi.yaml
  static/programs/k8s-deployment-service-for-minikube-go/go.mod
  static/programs/k8s-deployment-service-for-minikube-go/main.go
  static/programs/k8s-deployment-service-for-minikube-javascript/Pulumi.yaml
  static/programs/k8s-deployment-service-for-minikube-javascript/index.js
  static/programs/k8s-deployment-service-for-minikube-javascript/package.json
  static/programs/k8s-deployment-service-for-minikube-python/Pulumi.yaml
  static/programs/k8s-deployment-service-for-minikube-python/__main__.py
  static/programs/k8s-deployment-service-for-minikube-python/requirements.txt
  static/programs/k8s-deployment-service-for-minikube-typescript/Pulumi.yaml
  static/programs/k8s-deployment-service-for-minikube-typescript/index.ts
  static/programs/k8s-deployment-service-for-minikube-typescript/package.json
  static/programs/k8s-deployment-service-for-minikube-typescript/tsconfig.json
  static/programs/k8s-deployment-service-for-minikube-yaml/Pulumi.yaml
Labels: docs/tutorials

#13624 Revisions to #13587
  content/blog/your-perfect-infrastructure-sucks/index.md
  content/blog/your-perfect-infrastructure-sucks/meta.png
Labels: area/blog

#13369 Add documentation for using OIDC with EKS
  content/docs/pulumi-cloud/access-management/oidc/client/eks-policy.png
  content/docs/pulumi-cloud/access-management/oidc/client/kubernetes-eks.md
  content/docs/pulumi-cloud/access-management/oidc/client/kubernetes-gke.md
  content/docs/pulumi-cloud/access-management/oidc/client/register-eks.png
Labels: impact/no-changelog-required

#13529 Add blog post for EKS Auto Mode
  content/blog/aws-eks-auto-mode/index.md
  content/blog/aws-eks-auto-mode/meta.png
Labels: do-not-merge

#13695 🌿 add missing top-level `values:` to various ESC reference examples
  content/docs/esc/get-started/integrate-with-pulumi-iac.md
  content/docs/esc/integrations/dynamic-login-credentials/azure-login.md
  content/docs/esc/integrations/dynamic-login-credentials/gcp-login.md
  content/docs/esc/integrations/dynamic-login-credentials/vault-login.md
  content/docs/esc/integrations/dynamic-secrets/1password-secrets.md
  content/docs/esc/integrations/dynamic-secrets/aws-parameter-store.md
  content/docs/esc/integrations/dynamic-secrets/aws-secrets.md
  content/docs/esc/integrations/dynamic-secrets/azure-secrets.md
  content/docs/esc/integrations/dynamic-secrets/gcp-secrets.md
  content/docs/esc/integrations/dynamic-secrets/vault-secrets.md
  content/docs/esc/integrations/infrastructure/cloudflare.md
Labels: area/docs, impact/no-changelog-required, size/XS, kind/documentation
