Repository pulumi/docs, pull requests merged in 2025-03, with the labels that each got.

#13628 Blog: Why Cloud Engineers need Pulumi ESC
  content/blog/why-every-cloud-engineer-needs-pulumi-esc-secrets-management/index.md
  content/blog/why-every-cloud-engineer-needs-pulumi-esc-secrets-management/meta.png
  content/blog/why-every-cloud-engineer-needs-pulumi-esc-secrets-management/pulumi-esc-quote.png
Labels: area/blog

#14483 Explain how ESC can be used for org-level autonaming config
  content/docs/iac/concepts/resources/names.md
Labels: area/docs, docs/content

#14363 Blog: Pulumi Powered ai/ml on kubernetes and GCP
  content/blog/ai-ml-on-kubernetes-google-cloud-llm-rag/ai-ml-kubernetes-gcp-blog-article.png
  content/blog/ai-ml-on-kubernetes-google-cloud-llm-rag/index.md
  content/blog/ai-ml-on-kubernetes-google-cloud-llm-rag/meta.png
  content/blog/mlops-the-ai-challenge-is-cloud-not-code/index.md
Labels: area/blog

#14490 Sarah/calculator
  assets/js/bundle.js
  layouts/product/internal-developer-platforms.html
  theme/stencil/src/components.d.ts
  theme/stencil/src/components/pulumi-value-calculator/pulumi-value-calculator.scss
  theme/stencil/src/components/pulumi-value-calculator/pulumi-value-calculator.tsx
  theme/stencil/src/components/pulumi-value-calculator/test/pulumi-value-calculator.e2e.ts
  theme/stencil/src/components/pulumi-value-calculator/test/pulumi-value-calculator.spec.tsx
Labels: do-not-merge
